

.accAllUsers__generalDetails{
    font-size: 1.2em !important;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    .groupsGeneralDetails{
        font-size: 28px !important;
    }
}

.accAllUsers__smaller{
    width:70vw
}

.wcfc__bodyDiv{

    .accAllUsers__left{
        width:430px;
        display:inline-block;
        vertical-align:top;
    }
    .accAllUsers__right{
        width:430px;
        display:inline-block;
        vertical-align:top;
    }
    .accAllUsers__leftRight{
        
    }
    .accAllUsers__line{
        @extend .flowRow;
        margin:0 !important;
        padding: 0;
        .accAllUsers__lineTitle{
            font-weight: 600;
            width:160px;
            margin-right:5px;
        }
        .accAllUsers__lineDetail{
            width:100px;
            height:20px;
        }
        .alu__selector{
            width:fit-content;
            min-width: 70px;
            height:30px;
        }
        .alu__span{
            margin-left:10px;
            text-align: center;
        }
        .alu__remarks{
            width:60%;
        }
    }
    .accAllUsers__btnDiv{
         width:20%;
         margin: 15px auto 10px auto;
        .accAllUsers__buttonSubmit{
          padding: 7px 12px;
          color: white;
          background-color: $mainColor;
          border: none;
          font-weight: 600;
          font-size: 16px;
          cursor: pointer;
          &:hover{
              background-color: $mainColorLight;
          }
        }
    }
}