@media (max-width: 667px) {
    .payrollHistory__container{
        min-width: 400px !important;
    }
}

@media (min-width: 668px) {}





.payrollHistory__container{
    width: 70vw;
    min-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 10px;
    .payrollHistory__title{
        @extend .flowRow;
        margin-left: 2vw;
        margin-right: 2vw;
        color: $mainColor;
        justify-content: space-between;
        border-bottom: 1px solid $lightShade;
        .payrollHistory__titleLeft{
            @extend .flowRow;
            .payrollHistory__titleText{
                margin-left: 2vw;
                color: $mainColor;
            }
        }
        .payrollHistory__btnExpand{
            float: right; 
            position: relative;
            top: 3px;
            cursor: pointer;
            z-index: 1;
        }
    }
    .payrollHistory__info{
        margin-top: 10px;
    }
}

